# Kaggle API credentials
# Get these from https://www.kaggle.com/settings -> API -> Create New Token
KAGGLE_USERNAME=forum11
KAGGLE_KEY=KGAT_46a70a3fa94eae479b658def541eb68d

# PostgreSQL connection
PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=olist
PG_USER=postgres
PG_PASSWORD=your_password


# KGAT_46a70a3fa94eae479b658def541eb68d

# export KAGGLE_API_TOKEN=KGAT_46a70a3fa94eae479b658def541eb68d

# kaggle competitions list